/* BlogPage.scss */

.blog-page {
  display: flex;
  height: 100vh; /* Set a fixed height for the page */

  .blog-left {
    flex: 3;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    padding: 20px;
    border-right: 1px solid #000000;
    max-height: calc(100vh - 40px);
    gap: 20px; /* Add gap between cards for spacing */
    /* Style the scrollbar */
    &::-webkit-scrollbar {
      width: 12px; /* Width of the scrollbar track */
    }

    &::-webkit-scrollbar-thumb {
      background-color: #007bff; /* Color of the scrollbar thumb */
      border-radius: 6px; /* Rounded corners for the thumb */
    }

    &::-webkit-scrollbar-track {
      background-color: #050505; /* Color of the scrollbar track */
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #0056b3; /* Color when hovered */
    }
  }

  
  .blog-right {
    flex: 1;
    padding: 20px;
    // background-color: #070707; /* Add a background color for contrast */
    overflow-y: auto;
    
    &::-webkit-scrollbar {
      width: 12px; /* Width of the scrollbar track */
    }

    &::-webkit-scrollbar-thumb {
      background-color: #007bff; /* Color of the scrollbar thumb */
      border-radius: 6px; /* Rounded corners for the thumb */
    }

    &::-webkit-scrollbar-track {
      background-color: #070707; /* Color of the scrollbar track */
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #0056b3; /* Color when hovered */
    }
    .recent-posts {
      /* Styles for the recent posts section */
      h3 {
        font-size: 1.2rem;
        margin-bottom: 10px;
      }
      ul {
        list-style: none;
        padding: 0;
        li {
          margin-bottom: 10px;
          a {
            text-decoration: none;
            color: #ffffff;
            &:hover {
              color: #007bff;
            }
          }
        }
      }
    }

    .popular-topics {
      /* Styles for the popular topics section */
      h3 {
        font-size: 1.2rem;
        margin-bottom: 10px;
      }
      ul {
        list-style: none;
        padding: 0;
        li {
          margin-bottom: 10px;
          a {
            text-decoration: none;
            color: #007bff; /* Change the color for popular topics */
            &:hover {
              color: #0056b3; /* Change the hover color for popular topics */
            }
          }
        }
      }
    }

    .search {
      /* Styles for the search section */
      margin-top: 20px;
      input {
        width: 57%;
        padding: 10px;
        font-size: 1rem;
        border: 1px solid #ddd;
      }
      button {
        width: 57%;
        padding: 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        margin-top: 10px;
        cursor: pointer;
        &:hover {
          background-color: #0056b3;
        }
      }
    }
    
  }

}

@media (max-width:600px){
  .blog-right{
    display: none;
  }
}

@media (max-width:1600px){
  .card-container{
  max-height: 500px;
  margin-left: 0px;
  margin-right: 105px;
  }
}
