.blog-detail-container {
  display: flex;
  margin: 20px;
  // background-color: #000000;

  .left-column {
    flex: 2; /* Adjust the ratio between left and right columns */
    padding-right: 220px;
    border-right: 1px solid #ccc;
    margin-left: 50px;
    .header {
      margin-bottom: 20px;

      .blog-header-image {
        margin-left: 40vh;
        max-width: 123%;
        height: auto;
      }
      .tagsclass{
        max-width: 25%;
      }
      @media (max-width:600px){
        margin-left: -50vh;
      }

    }
    .blog-details {
      .blog-title {
        font-size: 60px;
        margin-bottom: 10px;
        
        
        @media (max-width:600px) {
          font-size: 30px;  

        }
        @media  screen and (max-width:400px) {
          font-size: 27px;
        }
      }
      h6{
        font-size: 14px;
        margin-bottom: 15px;
      }
      .blog-description {
        margin-bottom: 20px;
        line-height: 40px;
        margin-top: 50px;
      }

      /* Add comment section styles here */
    }
  }

  .right-column {
    flex: 1; /* Adjust the ratio between left and right columns */
    padding-left: 20px;

    .post-list {
      h2 {
        font-size: 20px;
        margin-bottom: 10px;
      }

      .most-popular-posts,
      .topics {
        margin-bottom: 20px;

        h3 {
          font-size: 18px;
          margin-bottom: 10px;
        }

        /* Add styles for popular posts and topics here */
      }
    }
  }
}
@media (max-width:600px){
  .blog-header-image{
    display: none;
    visibility: hidden;
  }
  .right-column{
    display: none;
    visibility: hidden;
  }
  .blog-detail-container{
    overflow-y: hidden;
    overflow: hidden;
  }
  .blog-details{
    margin-left: -13%;
  .blog-description{
    max-width: 88%;
    line-height: 30px;
    overflow: hidden;
    overflow-y: hidden;
  }
}
@media screen and (max-width:400px) {
  .blog-details{
    margin-right: 10%;
    margin-left: -13%;
  }
  
}
  
  
}
