.footer {
  background: linear-gradient(to bottom, #020000, #000000); 
  color: #ffffff; 
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30vh;
  border: 1px solid #ffffff;

  @media (max-width: 600px) {
    flex-direction: column;
    height: auto;
    padding: 10px;
    text-align: center;
  }
}

.user-name {
  font-size: 2.2rem;
  font-weight: bold;

  padding: 5px 10px;

  @media (max-width: 600px) {
    margin-bottom: 10px;
  }
}

.social-icons {
  display: flex;
  gap: 20px;
  font-size: 24px;
  margin-top: 154px;
  margin-left: -48vh;
  @media (max-width: 600px) {
    margin-bottom: 78px;
    margin-top: 75px;
    margin-left: 0vh;
  }
}

.newsletter {
  display: flex;
  align-items: center;
.newslabel{
  margin-left: 135px;
}
  @media (max-width: 600px) {
    flex-direction: column;
    gap: 16px;
    .newslabel{
      margin-left: -14px;
      font-size: 1.2rem;
    }
  }
}

.newsletter-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  padding: 5px;
  margin-right: 10px;
  font-size: 16px;

  @media (max-width: 600px) {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.send-icon {
  font-size: 24px;
  cursor: pointer;
}

.copyright {
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
  opacity: 0.7;

  @media (max-width: 600px) {
    margin-top: 20px;
  }
}

.footer-links {
  margin-top: 91px; /* Default space between the newsletter and links */

  a {
    text-decoration: none;
    color: #fff;
    margin-right: 10px; /* Add space between the links */

    &:hover {
      text-decoration: underline;
    }
  }
  .openweb{
    margin-bottom: 57px;
    margin-left: 70px;
  }

  @media (max-width: 768px) {
    /* Adjust styles for screens up to 768px width */
    margin-top: 40px; /* Reduce the space on smaller screens */

    a {
      font-size: 14px; /* Reduce the text size on smaller screens */
    }
    .openweb{
      margin-left: 0px;
    }
  }
}
